.container {
  position: relative;

  max-width: 120rem;
  margin: 0 auto;

  &__subNav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 1.5rem 1.5rem;
    background-color: var(--bg-color-subNav);

    z-index: 9999;
  }
}
