html {
  font-size: 62.5%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;

  @media screen and (max-width: 1200px) {
    font-size: 56.25%;
  }
}

body {
  font-weight: 500;
  line-height: 1.6;
  min-height: 100vh;
  background-color: var(--bg-color-primary);
  transition: background-color 350ms ease-in;
}

// LIGHT-THEME APPLIES TO BODY
.light-theme {
  background-color: var(--bg-color-tertiary);

  p,
  figcaption {
    color: var(--color-generic);
  }

  .image__banner--movie,
  .image__banner--television,
  .image__banner--midnightgaming,
  .image__banner--blog {
    .overlay__text {
      color: var(--color-primary);
    }

    figure {
      img {
        box-shadow: 0.04rem 0.04rem 1.2rem 0.4rem var(--box-shadow-primary);
      }
    }
  }

  .fig-container {
    .img--1,
    .img--2,
    .img--3 {
      box-shadow: 0.01rem 0.01rem 1.2rem 0.1rem var(--box-shadow-primary);
    }
  }

  .top__button {
    background-color: var(--bg-color-tertiary);

    p {
      color: var(--color-primary);
    }
  }

  .author-info {
    p {
      color: var(--color-tertiary);
    }
  }

  .artist-info {
    p {
      color: var(--color-tertiary);
    }
  }

  .about {
    p {
      color: var(--color-generic);
    }
  }

  .carousel-clickies {
    .clicky {
      color: var(--color-generic);
    }
  }

  .aboutListTopics {
    .aboutListItems {
      color: var(--color-generic);

      span {
        .skullIconAbout {
          fill: var(--color-generic);
        }
      }
    }
  }

  .carousel-clickies {
    .clicky {
      &--active {
        color: var(--color-primary);
      }
    }
  }

  .cubeBoxCenter {
    .cube {
      .cube__face {
        box-shadow: none;
      }
    }
  }

  .aboutPicture {
    .cube {
      .cube__face {
        box-shadow: none;
      }
    }
  }

  figcaption {
    color: var(--color-generic);
  }
}

figcaption {
  color: var(--color-primary);
  font-size: 1.4rem;
  font-variant: small-caps;
  text-align: center;
  padding: 1.5rem;
}

figcaption.pinheadQuote {
  color: var(--color-primary);
  font-size: 2.4rem;
  font-variant: small-caps;
  text-align: center;
  padding: 1.5rem;

  @media screen and (max-width: 700px) {
    font-size: 1.8rem;
  }
}

.author {
  font-family: "Rubik", serif;
  font-variant: small-caps;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  margin-top: 2.5rem;
}

h1 {
  font-family: var(--font-family-primary);
  font-variant: small-caps;
  color: var(--color-primary);
  text-align: center;
}

h2 {
  font-family: var(--font-family-primary);
  font-size: 2.1rem;

  @media screen and (max-width: 368px) {
    font-size: 1.9rem;
  }

  font-variant: small-caps;
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 1.5rem;
}

h3 {
  font-family: var(--font-family-primary);
  font-size: 4rem;

  @media screen and (max-width: 368px) {
    font-size: 2.5rem;
  }

  font-variant: small-caps;
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.8rem;
  color: var(--color-tertiary);
  padding: 1rem;
}
