.flexContainer {
  display: flex;

  @media screen and (max-width: 1024px) {
    flex-direction: column-reverse;
  }

  .about {
    flex: 50%;
    margin-right: 1.2rem;

    h2 {
      font-size: 4.5rem;
    }

    p {
      max-width: 50rem;
      margin: 0 auto;
    }

    .contact {
      h2 {
        font-size: 4.5rem;
      }

      div {
        text-align: center;

        .email {
          color: var(--color-primary);
          font-size: 1.8rem;

          cursor: pointer;
        }
      }

      margin-top: 5rem;
    }
  }

  .aboutPicture {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 0 50%;

    img {
      display: block;
      max-width: 100%;
      height: auto;

      // box-shadow: 0.01rem 0.01rem 1.2rem 0.1rem var(--box-shadow-secondary);
    }
  }
}

.aboutListTopics {
  list-style: none;
  max-width: 90rem;
  margin: 13rem auto;

  .aboutListItems {
    display: flex;
    align-items: center;

    color: var(--color-primary);
    font-family: var(--font-family-tertiary);
    font-size: 1.6rem;
    font-weight: 900;

    margin-bottom: 1.2rem;

    .liImg {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-right: 1.2rem;

      img {
        width: 30px;
        height: 30px;
      }
    }

    @media screen and (max-width: 625px) {
      .liImg {
        margin-right: 1.2rem;

        img {
          display: block;
          width: 25px;
          height: 25px;
        }
      }
    }

    @media screen and (max-width: 425px) {
      .liImg {
        margin-right: 1.2rem;

        img {
          display: block;
          width: 20px;
          height: 20px;
        }
      }
    }

    @media screen and (max-width: 240px) {
      .liImg {
        margin-right: 1.2rem;

        img {
          display: block;
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
