.flexContainer {
  display: flex;

  @media screen and (max-width: 1024px) {
    flex-direction: column-reverse;
  }

  .about {
    flex: 50%;
    margin-right: 1.2rem;

    h2 {
      font-size: 4.5rem;

      @media screen and (max-width: 700px) {
        font-size: 3rem;
      }
    }

    p {
      max-width: 50rem;
      margin: 0 auto;
    }

    .contact {
      h2 {
        font-size: 4.5rem;

        @media screen and (max-width: 700px) {
          font-size: 3rem;
        }
      }

      div {
        text-align: center;

        .email {
          color: var(--color-primary);
          font-size: 1.8rem;

          cursor: pointer;
        }
      }

      margin-top: 5rem;
    }
  }

  .aboutPicture {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 0 50%;

    // CUBE FACE SETUP
    .scene {
      perspective: 600px;
      width: 200px;
      height: 200px;
    }

    .cube {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translateZ(-100px);
      transform-style: preserve-3d;
      transition: transform 1s;
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      animation: spinCube 8000ms infinite ease-in-out;
    }

    // CUBE ROTATION
    @keyframes spinCube {
      0% {
        transform: translate3d(0, 0, 50px) rotate3d(0, 0, 0, 0deg);
      }
      100% {
        transform: translate3d(0, 0, 50px) rotateX(360deg) rotateY(360deg);
      }
    }

    .cube__face {
      position: absolute;
      width: 200px;
      height: 200px;

      // CUBE FACE POSITION
      &--front {
        background: url(/img/hellcubeSide1b.png) no-repeat;
        transform: rotateY(0deg) translateZ(100px);
      }
      &--right {
        background-image: url(/img/hellcubeSide2b.png);
        transform: rotateY(90deg) translateZ(100px);
      }
      &--back {
        background-image: url(/img/hellcubeSide1a.png);
        transform: rotateY(180deg) translateZ(100px);
      }
      &--left {
        background-image: url(/img/hellcubeSide2a.png);
        transform: rotateY(-90deg) translateZ(100px);
      }
      &--top {
        background-image: url(/img/hellcubeSide3b.png);
        transform: rotateX(90deg) translateZ(100px);
      }
      &--bottom {
        background-image: url(/img/hellcubeSide3a.png);
        transform: rotateX(-90deg) translateZ(100px);
      }
    }

    // img {
    //   display: block;
    //   max-width: 100%;
    //   height: auto;

    //   // box-shadow: 0.01rem 0.01rem 1.2rem 0.1rem var(--box-shadow-secondary);
    // }
  }
}

.aboutListTopics {
  list-style: none;
  margin: 13rem auto;

  .aboutListItems {
    display: flex;
    align-items: center;

    color: var(--color-primary);
    font-family: var(--font-family-tertiary);
    font-size: 1.6rem;
    font-weight: 900;

    margin-bottom: 1.2rem;

    span {
      display: grid;
      place-content: center;

      .skullIconAbout {
        fill: var(--color-primary);
        width: 7rem;
        height: 7rem;
        margin-right: 1.5rem;
      }

      @media screen and (max-width: 625px) {
        .skullIconAbout {
          width: 4rem;
          height: 4rem;
        }
      }
    }
  }
}
